# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
env/
venv/

# Configuración del entorno
.env

# Archivos de logs
*.log
logs/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de compilación
*.so
*.o
*.out
*.a
*.exe

# Archivos temporales
*.tmp
*.swp
*.bak

# Archivos de bases de datos
*.sqlite
*.db

# Archivos de testing
.coverage
.cache
pytest_cache/
htmlcov/

# VS Code
.vscode/

# vcpkg
vcpkg/

# Carpetas ignoradas pero conservadas
static/uploads/*
!static/uploads/.gitkeep

static/processed/*
!static/processed/.gitkeep

Videos/*
!Videos/.gitkeep
